.new-tweet {
  display: none;
  border: 1px grey solid;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  width: 90%;
  margin: auto;
}

.new-tweet h2 {
  margin: 0;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
}

textarea {
  padding: 5px;
  width: 100%;
}

hr {
  width: 100%;
}

.counter {
  float: right;
}

.red-text {
  color: red;
}